@import url("normalize.css");

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Rubik', 'sans-serif';
    font-style: "regular";
    line-height: 1.2;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.ua-text {
    display: none;
}

/*poloska headera*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 84px;
    background-color: #007765;
}

/*Sirina Kontenta headera*/
.vertikalHeader {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    padding-right: 20px;
}

.header_logo {
    margin-top: 7px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-indent: 8px;
    color: white;
}

/*NAVIGACIYA SAITA v headere*/
.rightHeaderGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header_nav {
    margin-right: 5px;
}

.buttonBlock {
    width: 150px;
}

.header_list li {
    text-indent: 15px;
    display: inline-block;
}

.header_list li a {
    color: white;
    text-decoration: none;
}

/*Knopka MENU*/

.header_nav_toggle:hover {
    background-color: #279484;
}

.header_nav_toggle:active {
    background-color: #00705f !important;
}

.header_nav_toggle:focus-visible {
    box-shadow: 0 0 0 3px #00a189;
}

.header_nav_toggle:disabled {
    background-color: #3f887d;
    pointer-events: none;
}

main {
    flex-grow: 1;
}

h1,
h2 {
    margin-top: 20px;
    color: #007765;
    text-align: center;
    font-size: 25px;
}

p {
    font-size: 18px;
}


.mainform {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: #007765;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    width: 100%;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 1px 7px 5px rgba(15, 83, 101, 0.57);
    font-size: 20px;
}

.TheMainButton {
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CharsCount {
    color: white;
}

label {
    color: white;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 8px;
}

button {
    padding: 0 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    font-weight: 550;
    text-decoration: none;
    background-color: #008874;
    color: white;
    box-shadow: 0 2px #005548;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
}

button:hover {
    background-color: #279484;
}

button:active {
    background-color: #00705f !important;
}

button:focus-visible {
    box-shadow: 0 0 0 3px #00a189;
}

button:disabled {
    background-color: #3f887d;
    pointer-events: none;
}


footer {
    flex-shrink: 0;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #4f4e4e;
    height: fit-content;
    color: white;
}

footer div {
    margin: 10px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

/* При размере больше 1024 */
@media screen and (min-width: 1024px) {
    .header_nav_toggle {
        visibility: hidden;
    }
}

/* При размере меньше 1024 */
@media screen and (max-width: 1023px) {

    body {
        padding-left: 25px;
        padding-right: 25px;
    }

    .vertikalHeader {
        padding-left: 15px;
        padding-right: 25px;
    }

    .header_logo .header_site_name {
        display: none;
    }

    .rightHeaderGroup {
        width: 243px;
    }

    .header_nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #007765;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .header_nav.active {
        display: flex;
    }

    .header_list {
        flex-direction: column;
        margin: 0;
        padding: 10px;
    }

    .header_list li {
        display: block;
        margin-bottom: 10px;
    }

    .header_list li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    .header_nav_toggle {
        display: block;
        color: white;
        cursor: pointer;
    }

    /*Polya VVODA*/
    input {
        height: 40px;
        font-size: 30px;
    }

}